@charset "UTF-8";

.redirect-href,
.redirect-href:link,
.redirect-href:visited {
	color: var(--indigo);
}

.redirect-href:hover {
	color: var(--blue);
	text-decoration: none;
}

.dropdown-item.item-empty {
	padding: 17px 40px !important;
	background-color: var(--gray-lighter);
}

.dropdown-item.item-empty:hover {
	background-color: var(--gray-light);
}

.nav-title {
	color: #6f7580;
	font-weight: 500;
	font-size: 12px;
	padding-left: 32px;
}

.sidebar-icon-only .nav-title {
	display: none !important;
}

.sidebar .nav-item {
	border-radius: 25px;
}

.sidebar .menu-heading {
	text-transform: uppercase;
}

.sidebar .nav.sub-menu .nav-title {
	padding: 0;
}

.sidebar .nav.sub-menu .nav-divider {
	margin: .25rem 0;
	border-top: 1px solid var(--gray-light);
}

.sidebar .nav.sub-menu .nav-item .nav-link.active {
	font-weight: 800;
}

.sidebar .nav .nav-item.active {
	background: var(--gray-lighter);
	box-shadow: inset 2px 1px 3px 0 rgba(200, 186, 186, 0.5);
	-webkit-box-shadow: inset 2px 1px 3px 0 rgba(200, 186, 186, 0.5);
}

.sidebar .nav.sub-menu .nav-title .submenu-heading {
	color: #2e294e;
	font-weight: 800;
}

.sidebar .nav .nav-item > .nav-link .menu-title {
	font-weight: 700 !important;
}

.sidebar .nav .nav-item div.collapse {
	padding-bottom: .75rem;
}

.sidebar-dark .sidebar .nav.sub-menu .nav-title .submenu-heading {
	color: white;
	font-weight: 800;
}

.sidebar-dark .sidebar .nav .nav-item:has(.nav-link):hover {
	background-color: var(--gray);
}

.sidebar-dark .sidebar .nav .nav-item:has(.nav-link).active {
	background-color: var(--gray-light);
}

.sidebar-dark .sidebar .nav .nav-item:has(.nav-link).active:hover {
	background-color: var(--gray-light);
}

.sidebar-dark .sidebar .nav.sub-menu .nav-item {
	border-radius: 0;
}

.sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link.active {
	color: var(--gray-light);
	font-weight: 800 !important;
}

.sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link.active:hover {
	color: white;
}

.sidebar-dark .sidebar .nav.sub-menu .nav-item:hover {
	background-color: #131924;
}

.sidebar-dark .sidebar .nav.sub-menu .nav-divider {
	margin: .25rem 0;
	border-top: 1px solid var(--gray-light);
}

.text-green {
	color: var(--bs-green);
}

.swal2-modal .swal2-icon {
	margin-top: 40px;
}

@media (max-width: 992px) {
	.border-right.border-sm-hidden {
		border-right: 0px solid !important;
	}
}

@media (min-width: 576px) {
	.modal-dialog {
    	max-width: var(--bs-modal-width);
	}
}

@media (min-width: 992px) {
	.modal-lg {
		--bs-modal-width: 800px;
	}
}

.modal .modal-dialog.modal-xxl {
	max-width: 90%;
}

.d-hidden {
	display: none;
}

.thumbnail {
	width: 80px;
	margin: 0 auto;
}

.pict-preview {
	height: 0;
	padding-bottom: 100%;
}

.pict-preview.blank {
	background: url("../imgs/blank-profile-picture-973460_1280.png") center center / cover no-repeat;
}

.pict-preview.rounded {
	border-radius: 50% !important;
}

.pick-image {
	margin-top: 1rem;
}

.pick-image input[type="file"] {
	display: none;
}

@media (max-width: 767px) {
	.cols-to-tabs .device-big {
		display: none;
	}
	.cols-to-tabs .device-small {
		display: flex;
	}
	.cols-to-tabs .tab-content.row {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media only screen and (min-width: 768px) {
	.cols-to-tabs .device-big, .cols-to-tabs .tab-content > .tab-pane {
		display: flex;
	}
	.cols-to-tabs .device-small {
		display: none;
	}
	.cols-to-tabs .tab-content {
		border: 0px solid;
	}
	.cols-to-tabs .tab-content > .tab-pane {
		display: block;
		opacity: 1;
	}
	.cols-to-tabs .tab-content > .tab-pane:first-child {
		border-right: 1px solid #eeeef0;
	}
}

.lang-options {
	padding-left: 0;
	list-style-type: none;
}

.lang-options .lang-item {
	padding: 5px 35px;
}

.lang-options .lang-item:hover {
	background-color: var(--gray-lighter);
}

.lang-options .lang-item.selected {
	background-color: #e6e9ed;
}

.lang-options .lang-flag img {
	margin-right: 1rem;
}

.sidebar-bg-options:hover {
	background-color: var(--gray-lighter);
}

.table.table-100 {
	width: 100% !important;
}

.table thead th {
	font-weight: 800;
}

.table thead th:first-child {
	padding: 10px 15px;
}

.table.table-center-head thead th {
	text-align: center;
}

.table.table-centered thead th,
.table.table-centered tbody td {
	text-align: center;
}

.table.center-first-column thead th:first-child,
.table.center-first-column tbody td:first-child {
	text-align: center;
}

.table.table-fixed {
	table-layout: fixed;
}

.table.user-details thead {
	display: none !important;
}

.table.user-details tbody td {
	vertical-align: top;
}

.table.user-details tbody td:first-child {
	width: 20%;
}

.table.user-details tbody td:nth-child(2) {
	text-align: center;
	width: 10%;
}

.table.user-details tbody td:last-child {
	width: 60%;
	word-wrap: break-word;
}

.table thead th.small {
	width: 15%;
}

.border-gray {
	border-color: var(--gray) !important;
}

.border-grayl { /** border with light gray color**/
	border-color: var(--gray-light) !important;
}

.border-graylr {
	border-color: var(--gray-lighter) !important;
}

.created-at {
	display: block;
}

.created-at .left {
	width: 70%;
	float: left;
	text-align: center;
}

.created-at .right {
	width: 30%;
	float: right;
	text-align: right;
}

.dt-scroll:has(.dropdown) .dt-scroll-head,
.dt-scroll:has(.dropup) .dt-scroll-head,
.dt-scroll:has(.dropstart) .dt-scroll-head,
.dt-scroll:has(.dropend) .dt-scroll-head,
.dt-scroll:has(.dropdown) .dt-scroll-body,
.dt-scroll:has(.dropup) .dt-scroll-body,
.dt-scroll:has(.dropstart) .dt-scroll-body,
.dt-scroll:has(.dropend) .dt-scroll-body,
.dt-scroll:has(.dropdown) .dt-scroll-foot,
.dt-scroll:has(.dropup) .dt-scroll-foot,
.dt-scroll:has(.dropstart) .dt-scroll-foot,
.dt-scroll:has(.dropend) .dt-scroll-foot {
	overflow: visible !important;
}